.fc-event {
    cursor: pointer;
    border: none;
}
.fc-toolbar-title {
    font-size: 1.5rem !important;
    color: var(--text-color);
}
.fc-button {
    background-color: var(--dark-bg) !important;
    border-color: rgba(255,255,255,0.1) !important;
}
.fc-button-active {
    background-color: var(--primary-color) !important;
    color: var(--darker-bg) !important;
}
.fc-daygrid-day {
    border-color: rgba(255,255,255,0.05) !important;
}
